{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/webadmin.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/questionCreate.js' %}"></script>
    <link rel="icon" href="{% static 'images/icono.ico' %}">
    <title>CachimboGo</title>
</head>

<body>
    <div style="background: rgb(0, 195, 255)">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" align="center">
                <label class="titlec" style="font-size: 3.5vw;">CachimboGO</label>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" align="center">
                            <label style="font-family: 'Oswald'; font-size: 2vw; color: black;" for="crud">AGREGAR PREGUNTA</label>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="labelc" for="asginaturas">Asignatura:</label>
                            <select class="form-control" id="selectAsignaturas">
                                <option>Seleccione Asignatura</option>
                                {% for asignatura in asignaturas %}
                                <option value="{{asignatura.id_asignatura}}">{{asignatura.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="labelc" for="temas">Tema:</label>
                            <select class="form-control" id="selectTemas">
                                <option>Seleccione tema</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="labelc" for="subtema">Subtema:</label>
                            <select class="form-control" id="selectSubTemas">
                                <option>Seleccione Subtema</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
                <form>
                    <div class="form-group">
                        <label class="labelc" for="Pregunta">Escriba su pregunta:</label>
                        <input type="text" class="form-control form-control-lg" id="Pregunta" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="Alternativa1">Alternativa 1</label>
                        <input type="text" class="form-control form-control-lg" id="Alternativa1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="Alternativa2">Alternativa 2</label>
                        <input type="text" class="form-control form-control-lg" id="Alternativa2" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="Alternativa3">Alternativa 3</label>
                        <input type="text" class="form-control form-control-lg" id="Alternativa3" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="Alternativa4">Alternativa 4</label>
                        <input type="text" class="form-control form-control-lg" id="Alternativa4" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="Alternativa5">Alternativa 5</label>
                        <input type="text" class="form-control form-control-lg" id="Alternativa5" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="labelc" for="info">Informacion:</label>
                        <textarea class="form-control form-control-lg" rows="5" id="info"></textarea>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="labelc" for="correcta">Alternativa correcta:</label>
                            <select class="form-control" id="selectAlternativa">
                                <option value="0">Seleccione la alternativa correcta</option>
                                <option value="1">Alternativa 1</option>
                                <option value="2">Alternativa 2</option>
                                <option value="3">Alternativa 3</option>
                                <option value="4">Alternativa 4</option>
                                <option value="5">Alternativa 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="labelc" for="dificultades">Dificultad:</label>
                            <select class="form-control" id="selectDificultad">
                                <option value="0">Seleccione una dificultad</option>
                                <option value="1">Facil</option>
                                <option value="2">Medio</option>
                                <option value="3">Dificil</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-outline-primary" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
    </div>
    </div>
</body>

</html>