{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/webadmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/icono.ico' %}">
    <title>CachimboGo</title>
</head>

<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            <h1 class="text-center">CachimboGo</h1>
        </div>
        <hr/>
        <div class="modal-body">
            <form method="POST" role="form">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                        {% render_field form.usuario type="text" class="form-control" placeholder="Usuario" id="usuario" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                        {% render_field form.password type="password" class="form-control" placeholder="Contraseña" id="password" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                        {% render_field form.nombres type="text" class="form-control" placeholder="Nombres" id="nombres" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                        {% render_field form.apellidos type="text" class="form-control" placeholder="Apellidos" id="apellidos" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        {% render_field form.correo type="email" class="form-control" placeholder="correo" id="correo" %}
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-primary" id="registar">Registrarse</button>
                </div>
                <input type="hidden" id="alert" value="{{ alert }}" readonly>
            </form>
            <script>
                $(document).ready(function () {
                    if ($("#alert").val() === "1") {
                        alert("Usuario ya existe");
                        $("#alert").val("0");
                    }
                });
            </script>
        </div>
    </div>
</div>

</body>

</html>